<% provide(:title, 'Gym Inventory') %>
<header>
	<h1 class='title'> Inventory </h1>
</header>

<main>
	<div class='new-equipment'>
		<%= render 'gym_items/new' %>
	</div>
	<div class='equipment'>
		<h3> Gym Equipment </h3>
		<%= render 'equipment' %>
	</div>
</main>
